.idea/
data/MT/.ipynb_checkpoints/
data/MT/Lasso_shear_MT.csv
data/MT/shear_th_diff_lite.csv
data/MT/shear_viscosity_lite.dat
data/STS/kinetic/.ipynb_checkpoints/
data/STS/kinetic/bi_mix_sts/.ipynb_checkpoints/
data/STS/kinetic/bi_mix_sts/From_dat_to_cvs.ipynb
data/STS/kinetic/bi_mix_sts/dataset_O2O_rhs.csv
data/STS/kinetic/bi_mix_sts/dataset_O2O_rhs.dat
data/STS/kinetic/model_N2N_1__RVV.sav
data/STS/kinetic/sw_air_code/.ipynb_checkpoints/
data/STS/kinetic/sw_air_code/Untitled.ipynb
data/STS/kinetic/sw_air_code/arr_d_park.csv
data/STS/kinetic/sw_air_code/arr_z_park.csv
data/STS/kinetic/sw_air_code/dataset.mat
data/STS/kinetic/sw_air_code/dataset2.m
data/STS/kinetic/sw_air_code/from_dat_to_cvs2.ipynb
data/STS/kinetic/sw_air_code/solutionNew.csv
data/STS/kinetic/sw_air_code/solution_XY.csv
data/STS/kinetic/sw_air_code/solution_XY.cvs
data/STS/kinetic/sw_air_code/solution_XY.dat
data/STS/transport/boltzmann/.ipynb_checkpoints/
data/STS/transport/boltzmann/RF.ipynb
data/STS/transport/boltzmann/SelectKBest.thermal_cond.ipynb
data/STS/transport/boltzmann/corr_df.csv
data/STS/transport/boltzmann/model_shear.sav
data/STS/transport/boltzmann/scaler_x_shear.pkl
data/STS/transport/boltzmann/scaler_y_shear.pkl
data/STS/transport/boltzmann/shear_viscosity.txt
data/STS/transport/boltzmann/thermal_conductivity.sav
data/STS/transport/boltzmann/thermal_conductivity/
data/STS/transport/boltzmann/thermal_conductivity11.csv
src/.ipynb_checkpoints/
src/scaler_x_shear.pkl
src/scaler_y_shear.pkl
